<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상점 등록 화면</title>
</head>
<body>

<h1> 상점 등록 화면 입니다. </h1>
<form method="post">
    <div>
        <input type="text" name="shopId" placeholder="아이디 입력" required/>
    </div>
    <div>
        <input type="text" name="shopName" placeholder="상점 이름" required/>
    </div>
    <div>
        <input type="text" name="shopLocation" placeholder="상점 위치" required/>
    </div>
    <div>
        <input type="text" name="shopBriefly" placeholder="상점 설명" required/>
    </div>
    <div>
        <input type="tel" name="shopContact" placeholder="상점 연락처" required/>
    </div>
    <div>
        <button> 가입 하기</button>
    </div>


</form>
</body>
</html>