<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 등록 화면</title>
</head>
<body>

<h1> 회원 등록 화면 입니다. </h1>
<form method="post">
    <div>
        <input type="text" name="userId" placeholder="아이디 입력" required/>
    </div>
    <div>
        <input type="password" name="userPassword" placeholder="비밀번호" required/>
    </div>
    <div>
        <input type="text" name="userName" placeholder="회원 이름" required/>
    </div>
    <div>
        <input type="text" name="userAge" placeholder="회원 나이" >
    </div>
    <div>
        <input type="text" name="userSex" placeholder="회원 성별" >
    </div>
    <div>
        <input type="tel" name="userContact" placeholder="회원 연락처" required/>
    </div>
    <div>
        <button> 가입 하기</button>
    </div>


</form>
</body>
</html>